.header{
    margin-top: 3;
    margin-right: 3;
}

.myacc{
    margin-left: 5%;
}

.needhelp{
    text-align: right;
    margin-right: 5%;
    margin-top: 2%;
    color: #0048CD;
}
.name{
    color: #0048CD;
}