.parent {
    margin: -2rem;
    padding: 2rem 2rem;
  }
  .child {
    display: inline-block;
    vertical-align: middle;
  }

.header{
    margin-top: 3;
    margin-right: 3;
}

.myacc{
    margin-left: 5%;
}

.needhelp{
    text-align: right;
    margin-right: 5%;
    margin-top: 2%;
    color: #0048CD;
}
.name{
    color: #0048CD;
}

.para{
    margin-left: 10px;
    margin-top: 25px;
}
.icon{
    margin-left: 5px;
}
